[Desktop Entry]
Encoding=UTF-8
Name=Deskew Filter
Name[el]=Φίλτρο αναίρεσης κλίσης
Name[en_GB]=Deskew Filter
Name[es]=Filtro de alineación
Name[et]=Sirgestamisfilter
Name[fr]=Filtre deskew
Name[ga]=Scagaire Dísceabhaithe
Name[gl]=Filtro de redución de sesgo
Name[km]=តម្រង Deskew
Name[nds]=Scheepde-Filter
Name[nl]=Filter voor scheefheid verwijdering
Name[pt]=Filtro de Remoção de Inclinação
Name[pt_BR]=Filtro de Alinhamento
Name[sv]=Skjuvningsfilter
Name[tr]=Deskew Süzgeci
Name[uk]=Фільтр компенсації
Name[x-test]=xxDeskew Filterxx
Comment=Deskew filter
Comment[el]=Φίλτρο αναίρεσης κλίσης
Comment[en_GB]=Deskew filter
Comment[es]=Filtro de alineación
Comment[et]=Sirgestamisfilter
Comment[fr]=Filtre deskew
Comment[ga]=Scagaire dísceabhaithe
Comment[gl]=Filtro de redución de sesgo
Comment[km]=តម្រង Deskew
Comment[nds]=Scheepde-Filter
Comment[nl]=Filter voor scheefheid verwijdering
Comment[pt]=Filtro de remoção de inclinação
Comment[pt_BR]=Filtro de alinhamento
Comment[sv]=Skjuvningsfilter
Comment[tr]=Deskew süzgeci
Comment[uk]=Фільтр компенсації
Comment[x-test]=xxDeskew filterxx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritadeskewfilter
X-Krita-Version=2
